h1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  text-align: center;
}

.navigation_bar {
  font-size: 25px;
}

body {
  background-color: #08d9d6;
}

.container-fluid {
  padding: 3% 10%;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 20px;
}

.box {
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border: 3px solid #252a34;
  border-radius: 5px;

  position: relative;
  display: inline-block;
  background-color: #eaeaea;

  width: 350px;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 5%;
}
#first_box.box {
  margin-left: 10%;
}

#second_box.box {
  margin-left: 5%;
}

#third_box.box {
  margin-left: 5%;
}

.image {
  width: 343px;
  height: 400px;
}

.sd {
  margin-left: 66.7%;
  width: 350px;
}

.centered {
  margin-left: 250px;
}
