h1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  text-align: center;
}

.navigation_bar {
  font-size: 25px;
}

body {
  background-color: #08d9d6;
}

.container-fluid {
  padding: 3% 5%;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 20px;
}

.navContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 12%;
  margin-right: 12%;
}

.box {
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border: 3px solid #252a34;
  border-radius: 5px;
  background-color: #eaeaea;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
  margin: 2%;
}

.limonka {
  background-image: url("/images/Limonka.jpg");
}

.pink {
  background-image: url("/images/Rose.jpg");
}

.king {
  background-image: url("/images/Common.jpg");
}

.imageContainer {
  margin: 5%;
  height: 400px;
  background-size: cover;
}

.boxOrganizer {
  display: inline-block;
}

.image {
  width: 343px;
  height: 400px;
}

.centered {
  text-align: center;
}

.productName {
  margin-top: 3%;
}
